.calculator{
    width: 400px;
    border: 3px outset #9E9E9E;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #607D8B;
    box-shadow:  5px 5px 10px #0000002e;
}

.calculator-screen{
    margin: 15px 10px 5px 10px;
    height: 70px;
    font-size: 50px;
    width: 365px;
    padding-left: 10px;
    background-color: #111111;
    color: #ECEFF1;
    border-radius: 5px;
    font-family: "Roboto Mono";
}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button{
    height: 60px;
    font-size: 30px;
    border: 2px outset #546E7A;
    border-radius: 7px;
    text-shadow: 1px 2px #ffffff;
    background-color: #CFD8DC;
}

.operator{
    background-color: #FFC107;
    color: #ffffff;
    font-size: 45px;
    text-shadow: 1px 2px #795548;
}

#equal-sign{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    height: 100%;
    background-color: #80CBC4;
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px #607d8b;
}

.all-clear{
    background-color: #E57373;
    color: #ffffff;
    text-shadow: 1px 2px #880E4F;
}

body{
    background-color: #FFFDE7;
}